.Savior{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 100vw;
}
.Loader{
}

/* Main */
.Main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #2e2e2e;
}
.Title{
  font-size: 5rem;
  color: #054622;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}
.app-input{
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
}

/* Results */
.Results{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100vw;
  height: 85vh;
  background-color: #2e2e2e;
}
.img-container{
  display: flex;
  width: 50%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}
.result-image{
  width: 80%;
  border: #054622 solid 5px;
  border-radius: 50px;
}
.txt-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}
.result-text-title{
  width: 80%;
  color: #fff;
  text-decoration: underline 1px;
}
.result-text{
  width: 80%;
  font-size: 1.4rem;
  color: #fff;
}

/* UTILS */
.hidden{
  display: none;
}